body {
  background-color: #000000;
}
nav {
  background: #101010;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 58px;
  align-items: center;
  
  /* margin-top: 10px; */
  margin: 24px auto auto auto;
  /* margin-right: auto; */
  /* position: absolute; */
  width: 70vw;
  border: 1px solid #363636;
  border-radius: 33px;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav li:nth-child(3) a {
  color: #caff33;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -2px;
  font-family: system-ui;
}
.blink1 {
  animation: blinking 10s infinite ease-in-out;
  animation-delay: 30s;
}
.blink2 {
  animation: blinking 15s infinite ease-in-out;
  animation-delay: 10s;
}
.blink3 {
  animation: blinking 20s infinite ease-in-out;
  animation-delay: 20s;
}
.blink4 {
  animation: blinking 30s infinite ease-in-out;
  animation-delay: 14s;
}
.blink5 {
  animation: blinking 15s infinite ease-in-out;
  animation-delay: 20s;
}
.blink6 {
  animation: blinking 10s infinite ease-in-out;
  animation-delay: 16s;
}
@keyframes blinking {
  0% {
    color: #caff33;
  }
  50% {
    color: #c9ff3300;
  }
  100% {
    color: #caff33;
  }
}
.landing {
  height: 88vh;
  width: 99vw;
  display: flex;
}
.hero {
  height: 100%;

  width: 50%;
}
.ui {
  height: 100%;
  width: 50%;
  background: rgba(137, 43, 226, 0);
}
.tag1 {
  width: 238px;
  text-align: center;
  background: black;
  font-family: monospace;
  color: white;
  border: 1px solid #414141;
  font-size: 1.4em;
  margin-top: 6em;
  margin-left: 5em;
  border-radius: 9px;
  padding: 6px;
}
.herotext {
  margin-left: 5em;
}
.herotext h1 {
  font-size: 6em;
  margin: 0;
  font-family: system-ui;
}
.herotext p {
  font-size: 1.2em;
  margin: 16px 0 0 0;
  color: white;
  font-family: monospace;
  width: 39em;
}
.high {
  color: #caff33;
}
.getarw {
  height: 46px;
  width: 164px;
  display: flex;
  border-radius: 26px;
  font-size: 3em;
  padding: 0px 0px 8px 0;
  margin-top: 0.6em;
  border: none;
  outline: none;
  margin-left: 1.6em;
  background: #caff33;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.getarw:hover {
  box-shadow: 1px 1px 20px #caff33;
}
.main li {
  display: flex;
  align-items: center;
}
.arrow {
  color: #c9ff3300;
  /* position: absolute; */
  font-size: 28px;
  transition: 0.2s ease-in-out;
}

.main li:hover .arrow {
  color: #caff33;
}

input::file-selector-button {
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 1em;
 cursor: pointer;
  border: thin solid rgb(255, 255, 255);
  border-radius: 3px;
  background: #caff33;
}











.container {
  height: 79%;
  width: 70%;
  border-radius: 22px;
  background: #101010;
  color: white;
  margin: auto;
  border: 1px solid #90ee9042;
  padding: 2em;
  margin-top: 3em;
  font-family: system-ui;
}

.section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid #404040;
    border-radius: 8px;
    background: #202020;
}

.section-title {
  font-size: 1.2rem;

  color: #ffffff;

  margin-bottom: 1rem;
}
#copyButton{
    height: 45px;
    font-weight: 700;
    background: #caff33;
}

button {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    /* font-family: system-ui; */
    font-size: 1rem;
    transition: background 0.2s;
}
#sendButton{
    width: 100%;
}
button:hover {
  background: #caff33;
}

button:disabled {
  background: #ccc;

  cursor: not-allowed;
}
#myId {
    width: 68%;
    padding: 0.8rem;
    border: 1px solid #505050;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    background: #303030;
    font-family: system-ui;
    margin-bottom: 1rem;
    font-size: 1rem;
}
input[type="text"] {
  height: 20px;

  padding: 0.8rem;

  border: 1px solid #505050;
  outline: none;
  border-radius: 6px;
  color: #000000;
  background-color: #303030;
  margin-bottom: 1rem;

  font-size: 1rem;
}

#status {
  margin-top: 1rem;

  padding: 1rem;

  border-radius: 6px;

  text-align: center;
}

.success {
    background: #272727;
    color: #caff33;
    border: 1px solid #535353;
}

.error {
  background: #fce8e6;

  color: #c5221f;
}

.progress-bar {
  width: 100%;

  height: 8px;

  background: #f0f2f5;

  border-radius: 4px;

  margin-top: 1rem;

  overflow: hidden;

  display: none;
}

.progress {
  width: 0%;

  height: 100%;

  background: #1a73e8;

  transition: width 0.3s;
}

#fileList {
  margin-top: 1rem;
}

.file-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    background: #303030;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    color:#caff33 ;
}

.file-info {
  display: flex;

  align-items: center;

  gap: 1rem;
}

.share-container {
  display: flex;

  gap: 1rem;

  margin-bottom: 1rem;
}

.share-container input[type="text"] {
  margin-bottom: 0;
}
