/* Add your custom styles here */


/*---Google font---*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body
{
  font-family: 'Poppins', sans-serif;
}

.root{
    height: 100vh;
    
    background: rgb(0,152,217);
background: -moz-linear-gradient(180deg, rgba(0,152,217,1) 0%, rgba(255,255,255,1) 90%);
background: -webkit-linear-gradient(180deg, rgba(0,152,217,1) 0%, rgba(255,255,255,1) 90%);
background: linear-gradient(270deg, rgba(0, 152, 217, 1) 0%, rgba(255,255,255,1) 90%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0098d9",endColorstr="#ffffff",GradientType=1);
width: 100%;

}



#title{
    text-align: center;
    font-size: 45px;
    color: skyblue;

}

/* ------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .container {
    background-color: rgba(255, 255, 255, 0);
    padding: 1em;
  }
  .row {
    width: 80%;
    margin: auto;
  }
  .logo {
    font-size: 1.5rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
  }
  .navbar .main-menu {
    display: flex;
  }
  .main-menu li a {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
  }
  li a:hover {
    background-color: rgb(0, 140, 255);
  }
  .menu-btn {
    display: none;
  }

  .row-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .row-content p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
  }
  
  @media screen and (max-width: 768px) {
    .main-menu {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: #252525;
      transition: 0.5s all ease;
      /* visibility: hidden; */
      display: none;
      align-items: center;
      transform: translateX(-800px);
      padding-top: 60px;
    }
  .navbar{
    justify-content: space-around;
  }
    .main-menu.show {
      transform: translate(0px, 32px);
      transition: 0.5s all ease;
      z-index: 99;
    }
    .main-menu li a {
      margin-bottom: 10px;
      color: white;
      display: block;
    }
    .menu-btn {
      display: block;
      position: absolute;
      color: rgb(0, 0, 0);
      top: 10px;
      right: 30px;
      font-size: 2rem;
    }
    .logo a img {
      height: 1em;
      padding-top: 6px;
  }
  .fa-bars{
    transform: translate(10px, 10px);
  }

  }
  
  .logo a img {
    height: 1.9em;
    padding-top: 6px;
}
/* ----------------------------- */

.workfeild{
  padding: 4em;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  height: 88vh;
  width: 100%;
  align-items: center;
}
.hero{
  text-align: center;
    

}
.hero h1{
  font-size: 4em;

}
.hero p{
  font-size: 22px;
    padding: 10px;
}

.func{
  height: 100%;
  width: 66%;
}
.func2{
  width: 350px;
  box-shadow: inset 0px 0px 20px 0px #0000003b;
  height: 90%;
  border-radius: 3em;
  background: aliceblue;
}
@media screen and (max-width: 1400px) {
  .func{
    height: 502px;
    width: 350px;
  }
  .func2{
    width: 350px;
    box-shadow: inset 0px 0px 20px 0px #0000003b;
    height: 500px;
    border-radius: 3em;
    background: aliceblue;
  }
}
@media screen and (max-width: 1100px) {
.workfeild{
  flex-direction: column;
}

}

  
  .thefile {
    
    padding: 3em;
    align-items: center;
    display: flex;
    margin-bottom: -1em;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
  }
#file {
  position: relative;
  width: 256px;
  z-index: 2;

  height: 120px;
  cursor: pointer;
}

input[type=file] {
  max-width: 100%;
  color: #444;
  padding: 40px 13px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid #5555557a;
  box-shadow: inset 0px 0px 12px 1px #cbcbcb;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}
/* Create a custom styled button */
/* #file::before {
  content: 'Choose File';
  
  padding: 10px 44px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 5px rgb(0,152,217) solid;
  position: absolute;
  top: 0;
  left: 0;

  line-height: 30px;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

#file:hover::before {
  background-color: rgb(0,152,217);
  color: white;
}

#file:active::before {
  background-color: #003f7f;
} */
/* #sendid{
  padding: 10px 0em 10px 2px;
  outline: none;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 10px;
} */

/* peer id input */
.peerid-container h2 {
  margin-bottom: 20px;
}



.peerid-digit {
  
    width: 35px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0px 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(0, 140, 255);
}

.peerid-inputs{
  width: 20em;
}

/* ----------------------- */
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(0,152,217);
  background-image: none;
  color: #fcfcfc;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12:hover span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}

.iddetail{
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#peerdisplay {
  margin-top: 1em;
}
#showid{border-bottom: 2px black solid;
  padding-bottom: 1px;
}
#downloadlink{
  
  padding: 1em;
  background: red;
  width: 174px;
  position: relative;
  left: 5.5em;
  height: 3.2em;
  top: .5em;
  cursor: pointer;
  border-radius: 2em;
}